header
  
  button.lines-button
    -webkit-appearance: none
    border: 0 none
    position: fixed
    right: 15px
    top: 40px

    @media (min-width: 992px)
      display: none

  @media (max-width: 991px)
    nav
      display: none
    nav
      a
        display: block
    &.nav-is-open
      position: fixed




