section#rsvp
  background: $light-gold url(../images/pattern-gold.svg) repeat center center
  background-size: 40% auto

  @media(max-width: 991px)
    background-size: 70% auto

  @media(max-width: 600px)
    background-size: 100% auto