@import url('https://fonts.googleapis.com/css?family=Roboto|Playfair+Display')

// @font-face
@import learning-curve.sass

@import reset.sass
@import colors.sass
@import mixins.sass

// Vendor
@import animated-hamburguer-icon.sass
@import vendor/_bootstrap-grid.scss
@import vendor/slick.scss
@import vendor/jquery.fancybox.min.scss

// Sections
@import header.sass
@import footer.sass

@import hero.sass
@import quote.sass
@import ceremony.sass
@import rsvp.sass
@import gifts.sass
@import map.sass
@import gallery.sass
@import counter.sass


html, body
  // overflow-x: hidden
  
body
  -webkit-text-size-adjust: 100%
  background: $charcoal
  color: white
  font-family: 'Roboto', sans-serif
  font-size: 13px
  font-weight: 400
  line-height: 1.4

  .wrapper
    margin-left: auto
    margin-right: auto
    max-width: 1200px
    padding-left: 20px
    padding-right: 20px
    &.full_width_mobile
      @media (max-width: 767px)
        padding-left: 0
        padding-right: 0

  a
    @include transition(all, 0.2s)
    color: $gold
    text-decoration: none
    &:hover
      opacity: 0.75