%footer#pokiandpitt
  .wrapper
    %hgroup
      %h1.section-heading Spread the love...
      %h2 
        Usá 
        %span #pokiandpitt 
        en instagram para ayudarnos a compartir nuestro día especial.
      %h3 J&M
    %a{:href => "mailto:pokiypitt+rsvp@gmail.com"} pokiypitt@gmail.com
    %p
      © 
      :javascript
        document.write((new Date()).getFullYear());
      Juli y Marto. Todos los derechos reservados.
    %p
      %a{:href=>"mailto:lauluppani@gmail.com"}
        Designed with
        %i.fa.fa-heart
        by 
        %strong Lau Luppani

      