%footer
  .wrapper
    %p
      © 
      :javascript
        document.write((new Date()).getFullYear());
      Poki & Pitt

      %a{:href=>"mailto:lauluppani@gmail.com", :target=>"_blank"}
        Designed with
        %i.fa.fa-heart
        by 
        %strong Lau Luppani

      