%footer#pokiandpitt
  .wrapper
    .row
      .col-lg-12.text-center
        %hgroup
          %h1.section-heading All you need is love
          %h2 J&M
    .row.copyright
      .col-lg-12.text-center
        %span Cualquier consulta,
        %a{:href => "mailto:lauluppani@gmail.com"} envianos un mail.
    %p
      © 
      :javascript
        document.write((new Date()).getFullYear());
      Poki & Pitt

      %a{:href=>"mailto:lauluppani@gmail.com", :target=>"_blank"}
        Designed with
        %i.fa.fa-heart
        by 
        %strong Lau Luppani

      