%header
  %nav
    .row
      .col-md-4.nav-left
        %img{:src=>"../images/arrow-right.svg", :width=>"80", :height=>"18"}
        %a{:href=>"#ceremony", :class=>"page-scroll"} Ceremonia
        %a{:href=>"#rsvp", :class=>"page-scroll"} RSVP
        %a{:href=>"#gifts", :class=>"page-scroll"} Regalos
      .col-md-2.nav-middle
        %a.logo{:href=>"#page-top", :class=>"page-scroll"}
          %span J&M
      .col-md-4.nav-right
        %a{:href=>"#map", :class=>"page-scroll"} Cómo Llegar
        %a{:href=>"#gallery", :class=>"page-scroll"} Galería
        %a{:href=>"#pokiandpitt", :class=>"page-scroll"} #Poki&Pitt
        %img{:src=>"../images/arrow-left.svg", :width=>"80", :height=>"18"}

  %button.lines-button.x{"aria-label" => "Toggle Navigation", :role => "button", :type => "button"}
    %span.lines

  

  






