%header
  .wrapper
    .row
      .col-md-2
        %a.logo{:href=>"/"}
          / %img{:src=>"/images/logo.svg", :alt=>"Miami Jewish Montessori", :width=>"105", :height=>"117"}
      .col-md-8
        %nav
          / %a{nav_active('index.html'), :href=>"/"} Home
          / %a{nav_active('about'), :href=>"/about.html"} About Us
          / %a.blue{nav_active('programs'), :href=>"/programs.html"} Programs
          / %a.pink{nav_active('resources'), :href=>"/resources.html"} Resources
          / %a{nav_active('blog'), :href=>"/blog"} Blog
          / %a{nav_active('gallery'), :href=>"/gallery.html"} Gallery
          / %a.green_dark{nav_active('contact'), :href=>"/contact.html"} Contact Us

  %button.lines-button.x{"aria-label" => "Toggle Navigation", :role => "button", :type => "button"}
    %span.lines

  

  






