---
pageClasses: home
---

%section#hero
  .wrapper
    %hgroup
      %h1 Poki & Pitt
      %h2 ¡Nos Casamos!
      %h3
        18
        %span ·
        11
        %span ·
        2018
    %a{:href => "#rsvp", :class=>"action-btn page-scroll"} RSVP
    %a{:href => "#quote", :class=>"arrow-down page-scroll"}

%section#quote
  .wrapper
    %p Frase

%section#ceremony
  .wrapper
    %p Ceremonia

%section#rsvp
  .wrapper
    %p R.S.V.P.

%section#gifts
  .wrapper
    %p Regalos

%section#map
  .wrapper
    %p Map

%section#counter
  .wrapper
    %p Countdown

%section#gallery
  .wrapper
    %p Gallery