%section#hero
  .wrapper
    %hgroup
      %h1 Poki & Pitt
      %h2 ¡Nos Casamos!
      %h3
        18
        %span ·
        11
        %span ·
        2018
    %a{:href => "#rsvp", :class=>"action-btn page-scroll"} RSVP
    %a{:href => "#quote", :class=>"arrow-down page-scroll"}

%section#quote
  .wrapper
    %h1.section-heading I belong with you, you belong with me, you're my sweetheart.
    .row#after-quote
      .col-xs-5.col-md-4
        %img{:src=>"../images/juli.svg", :class=>"juli"}
      .col-xs-2.col-md-4
        %img{:src=>"../images/heart.svg", :class=>"heart"}
      .col-xs-5.col-md-4
        %img{:src=>"../images/marto.svg", :class=>"marto"}
    %h2 Te invitamos a celebrar con nosotros
    %p habrá cena, baile y mucho más...
    %img{:src=>"../images/tiny-heart.svg", :width=>"25", :height=>"25"}    

%section#ceremony
  .wrapper
    %h1.section-heading Ceremonia
    .row.fecha-y-horario
      .col-md-5.text-block
        %p
          %span Domingo
          %strong 18 de Noviembre
          %span 2018
      .col-md-2
        %img{:src=>"../images/ring.svg", :width=>"70", :height=>"70"}
      .col-md-5.text-block
        %p
          %span Empezando
          %strong a las 17:30hs
          %span Puntual
    .address
      %img{:src=>"../images/map-marker.svg", :width=>"20", :height=>"30"} 
      %h2
        %a{:href => "#map", :class=>"page-scroll"}
          %strong Quinta de Anchorena
          %span Anchorena 477, San Isidro, Buenos Aires, Argentina
    %a{:href => "#map", :class=>"action-btn gray page-scroll"} Ver Mapa
    %a{:href => "#rsvp", :class=>"arrow-down page-scroll"}

%section#rsvp
  .wrapper
    .envelope
      %img{:src=>"../images/stamp.svg", :width=>"130", :height=>"100", :class=>"stamp"} 
      %h1.section-heading R.S.V.P.
      %h2 ¿Vas a venir?
      %form{:action => "https://formspree.io/pokiandpitt+rsvp@email.com", :method => "POST", :id=>"rsvp-form"}
        .row
          .col-md-6
            %input{:name => "subject", :type => "hidden", :value => "Poki & Pitt - RSVP"}
            %span.styled-radio
              %input{:type=>"radio", :value=>"Cuenten conmigo!", :required => "", :name=>"rsvp", :id=>"si", :checked=>"checked"}
              %label{:for=>"si"} Cuenten conmigo!
          .col-md-6
            %span.styled-radio
              %input{:type=>"radio", :value=>"No puedo ir", :required => "", :name=>"rsvp", :id=>"no"}
              %label{:for=>"no"} No puedo ir
        .row
          .col-md-6
            %input{"data-validation-required-message" => "Por favor, ingresá tu nombre.", :name => "name", :required => "", :placeholder=>"Nombre *", :type => "text", :id=>"name"}
          .col-md-6
            %input{"data-validation-required-message" => "Por favor, ingresá tu nombre.", :name => "surname", :required => "", :placeholder=>"Apellido *", :type => "text", :id=>"surname"}
          .col-md-12
            %input{"data-validation-required-message" => "Por favor, ingresá tu email.", :name => "email", :required => "", :placeholder=>"Email *", :type => "email", :id=>"email"}
          .col-md-12
            %label{:for=>"preferencia"} Si tenés alguna preferencia para el menú (Kosher, Vegano, Vegetariano, etc), por favor aclará acá:
            %input{:name => "preferencia", :type => "text", :id=>"preferencia"}
          .col-md-12.action
            %button{:type => "submit", :class=>"action-btn xl"} RSVP
            %p
              Por favor, confirmá para el
              %strong 18 de Octubre.
      / :javascript
      /   var contactform =  document.getElementById('rsvpForm');
      /   contactform.setAttribute('action', '//formspree.io/' + 'pokiandpitt+rsvp' + '@' + 'gmail' + '.' + 'com');
%section#gifts
  .wrapper
    %h1.section-heading Regalos
    %img{:src => "../images/gifts.svg", :width=>"185", :height=>"90"}
    %p
      Tres cosas no pueden faltar en nuestras vidas:
      %span Salud, dinero y amor...
      Por suerte estamos sanos y muy enamorados, así que podés ayudarnos con lo que nos falta!

%section#map
  .wrapper
    .map-wrapper
      #map-pilar.map

%section#counter
  .wrapper
    %h1.section-heading#cuenta-regresiva Cuenta Regresiva
    #countdown
      #dias>
      #horas>
      #minutos>
      #segundos>
    %img{:src => "../images/heart-lock.svg", :width=>"210", :height=>"55"}

%section#gallery
  .galeria-wrapper
    .row
      %a#pic-1{:href => "../images/galeria/01.jpg", :class=>"col-md-4 col-sm-7 col-xs-7"}>
      %a#pic-2{:href => "../images/galeria/02.jpg", :class=>"col-md-2 col-sm-5 col-xs-5"}>
      %a#pic-3{:href => "../images/galeria/03.jpg", :class=>"col-md-4 col-sm-5 col-xs-5"}>
      %a#pic-4{:href => "../images/galeria/04.jpg", :class=>"col-md-2 col-sm-7 col-xs-7"}>
    .row
      %a#pic-5{:href => "../images/galeria/05.jpg", :class=>"col-md-2 col-sm-7 col-xs-7"}>
      %a#pic-6{:href => "../images/galeria/06.jpg", :class=>"col-md-4 col-sm-5 col-xs-5"}>
      %a#pic-7{:href => "../images/galeria/07.jpg", :class=>"col-md-2 col-sm-5 col-xs-5"}>
      %a#pic-8{:href => "../images/galeria/08.jpg", :class=>"col-md-4 col-sm-7 col-xs-7"}>
    .row
      %a#pic-9{:href => "../images/galeria/09.jpg", :class=>"col-md-4 col-sm-7 col-xs-7"}>
      %a#pic-10{:href => "../images/galeria/10.jpg", :class=>"col-md-2 col-sm-5 col-xs-5"}>
      %a#pic-11{:href => "../images/galeria/11.jpg", :class=>"col-md-4 col-sm-5 col-xs-5"}>
      %a#pic-12{:href => "../images/galeria/12.jpg", :class=>"col-md-2 col-sm-7 col-xs-7"}>

