---
pageClasses: home
---

%section#hero
  .wrapper
    %p Poki & Pitt

%section#quote
  .wrapper
    %p Frase

%section#ceremony
  .wrapper
    %p Ceremonia

%section#rsvp
  .wrapper
    %p R.S.V.P.

%section#gifts
  .wrapper
    %p Regalos

%section#map
  .wrapper
    %p Map

%section#counter
  .wrapper
    %p Countdown

%section#gallery
  .wrapper
    %p Gallery